* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;        
  flex-direction: column; 
  align-items: center;  
  min-height: 100vh;
  overflow-y: auto;
  background-color: #b2967d;
  padding-top: 60px;
}
.Header { /* Assuming the root element in your Header component has a class of 'Header'. If not, you'd have to adjust accordingly. */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;    /* Make it span the entire width of the viewport */
  z-index: 1000;  /* Ensure it appears above all other content */
  background-color: #b2967d; /* Set a background color for your header. Adjust this to your needs. */
  padding: 30px 0; /* Optional padding to give some vertical spacing */
}


.headerWord {
  color: #e7d8c9;
  font-size: 16px;
}

.headerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;  /* Positioning the list absolutely. */
  top: 10px;           /* Distance from the top of the page. Adjust as needed. */
  right: 10px;         /* Distance from the right of the page. Adjust as needed. */
  text-align: right;   /* Aligning the text to the right. */
}


.headerList li {
  display: inline-block;  /* This makes the list items display horizontally. */
  margin-right: 20px;  /* This adds spacing between the list items. Adjust as needed. */
}
.headerList a {
  text-decoration: none; /* This will remove the underline */
  color: inherit; /* This will ensure the link uses the color of the surrounding text by default */
}
.headerList a:hover {
  background-color: #220901; /* Similar to your sidebar hover color */
  color: white; /* Change the font color on hover */
  border-radius: 7px; /* Optional, adds rounded corners to the hover effect */
  padding: 2px 6px; /* Optional, adds some space around the text inside the link during hover */
}

.headerNumber {
  color: #d81e5b;  /* Your desired color for the numbers. */
  font-size: 16px;
  font-family: Monaco, monospace;

}
.intro-box h1, 
.intro-box h2, 
.intro-box h3, 
.intro-box h5 {
    margin-top: 10px;     /* Adjust this value to increase or decrease the space from the top. */
    margin-bottom: 10px;  /* Adjust this value to increase or decrease the space from the bottom. */
}
.introHi{
  color: #d81e5b;  
  font-size: 17px;
  font-family: Monaco, monospace;
}
.intro-box {
  text-align: left;
  padding-left: 20px;
  width: 60%;           
  margin-top: 50px;    /* This will add a 50px space between the Header and the intro-box. Adjust the value as necessary. */
}
.name{
  color: #eee4e1;
}
.intro-bio{
  color: #e7d8c9;
  font-size: 28px;
}
.intro-bio2{
  font-size: 19px;
  color: #220901;
}
.sidebar {
  position: fixed; /* Makes the sidebar stick to the screen */
  top: 25vh;
  left: 0;
  height: 50vh; /* 100% of the viewport height */
  width: 50px; /* Adjust this as needed */
  background-color: #b2967d; /* Any color you like */
  overflow-x: hidden; /* No horizontal scroll */
  padding-top: 20px; /* Adjust as needed */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px;
  text-align: center;
  margin-bottom: 10px;
}


.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}
.sidebar ul li a i {
  font-size: 27px; 
  color: white; 
}


.sidebar ul li a:hover {
  background-color: #220901;
  border-radius: 7px; /* Optional, adds rounded corners to the hover effect */
}


.about-box {
  text-align: left;
  padding-left: 20px;
  width: 60%;           
  margin-top: 90px;

}
.about-content {
  display: flex;  /* Use Flexbox to layout child elements */
  align-items: center; /* Vertically aligns the image and text in the middle */
}

.about-image {
  width: 250px;  
  height: 250px;  
  margin-right: 20px; 
  border-radius: 50%; 
  object-fit: cover; /* This will make sure the image covers the whole area without distorting its aspect ratio */
  border: 2px solid #d81e5b; 
}
.AboutMe{
  color: #e7d8c9;
  font-size: 28px;
  margin-top: 90px;
  margin-bottom: 10px;
}
.about-bio{
  color: #220901;
  font-size: 19px;
}
.experience-box {
  text-align: left;
  padding-left: 20px;
  width: 60%;           
  margin-top: 65px;
}
.experbox2{
  margin-top: 60px;
}

.job {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color:  #eee4e1;
  box-shadow: 0px 2px 8px rgba(119, 112, 112, 0.1);
}

.job:last-child {
  margin-bottom: 0;
}

.job h4 {
  color: #220901;
  font-size: 21px;
  margin-bottom: 10px;
}

.job-title {
  color: #d81e5b;
  font-style: italic;
}

.job-date {
  color: #b2967d;
  margin-bottom: 15px;
}

.job ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #220901;
}
/* Work Section Container */
.work-box {
  text-align: left;
  padding: 20px;
  width: 60%;           
}
.workbox2{
  padding-top: 60px;
}

/* Each Project Container */
.project {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #eee4e1;
  box-shadow: 0px 2px 8px rgba(119, 112, 112, 0.1);
}

.project:last-child {
  margin-bottom: 0;
}

/* Project Titles */
.project h4 {
  color: #220901;
  font-size: 21px;
  margin-bottom: 10px;
}

/* Project Dates */
.project-date {
  color: #b2967d;
  margin-bottom: 15px;
}

/* Bullet points */
.project ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #220901;
}

/* Media (images/videos) within each project */
.project-media {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(119, 112, 112, 0.1);
}

/* Video Container - for YouTube videos */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Aspect Ratio 16:9 */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* GitHub Link */
.project-link {
  display: block;
  margin: 10px 0;
  color: #d81e5b;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #b01548;
}
.volunteer-box {
  text-align: left;
  padding: 20px;
  width: 60%;       
}

